/* Header */
.my_navbar {
    height: 55px;
    margin-bottom: 0;
    line-height: 55px;
    background-color: transparent;
}
.navbar-brand {
    height: 55px;
}
.my_navbar .navbar-brand img {
    height: 100%;
} 
.my_navbar a {
    font-size: 12.5px;
    color: #2c3e50;
}
.my_navbar a:not(.navbar-brand) {
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
}
.my_navbar a:hover {
    background-color: white;
    color: #2881ff;
}
.fas {
    vertical-align: middle;
    margin-left: 3px;
} 
.navbar_middle {
    margin-left: 120px;
} 
.nav_btn {
    background-color: white;
    border: 1px solid #2881ff;
    color: #2881ff;
    transition: 0.5s;
}
.nav_btn:hover {
    color: white;
    border-color: #004aff;
    background-color: #004aff;
}
.my_navbar .navbar-toggle {
    margin: 12px;
}
.my_navbar .navbar-toggle .icon-bar {
    background-color: #004aff;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}
/* Main */
.background {
    position: relative;
    height: 350px;
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_text {
    padding-top: 30px;
    padding-left: 0;
}
.banner_form {
    position: absolute;
    top: 35px;
    height: 270px;
    width: 330px;
    padding-top: 15px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.banner_form h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
#darkblue_h3 {
    color: #2c3e50; 
}
#blue_h3 {
    color: #006aff;
}
h1 {
    font-size: 45px;
    font-weight: bolder;
    color: white;
}
p {
    font-size: 18px;
    color: white;
}
.form-control {
    height: 28px;
    width: 300px;
    margin-left: 15px;
}
.account_btn {
    width: 300px;
    background-color:#579aff ;
    border-color: #579aff;
    color: white;
    transition: 1s;
}
.account_btn:hover {
    color: white;
    background-color: #004aff;
}
.google_btn {
    position: relative;
    width: 300px;
    background-color: white;
    border-color: white;
    color: gray;
}
.google_btn img {
    position: absolute;
    left: 0;
    max-width: 20px;
    max-height: 20px;
}
.google_btn:hover {
    color: #2881ff;
    background-color: white;
    border-color: white;
}
#terms_service {
    margin-top: 5px;
    color: #2c3e50;
    font-size: 9px;
    font-weight: bold;
}
#terms_service a {
    text-decoration: underline;
    color: #2881ff;;
}


@media (max-width: 992px) {
    /* Header */
    .navbar_middle {
        width: 320px;
        margin-left: 0px;
    }
    .navbar-right {
       font-weight: normal;
    }
    a {
       font-size: 11px !important;
    }
    .nav_btn {
        font-size: 11px;
    }
    .background {
        height: 400px;
    }
    .row {
        position: relative;
    }
    .banner_text {
        position: absolute;
        left: -60px;
        width: 250px;
    }
    .banner_text h1 {
        font-size: 30px;
    }
    .banner_text p {
        font-size: 15px;
    }
    .banner_form {
        position: absolute;
        right: -250px;
        width: 250px;
        height: 300px;
    }
    .form-control {
        width: 85%;
    }
    .banner_form .btn {
        width: 85%;
    }
}
@media (max-width: 768px) {
    /* Header */
    .my_navbar a {
        font-size: 12.5px !important;
    }
    .navbar-right a {
        margin-left: 15px;
    }
    .nav_btn {
        margin-left: 15px;
        font-size: 12.5px;
    }
    .background {
        height: 770px;
    }
    
}
    